
body {
background: url("/home/veronika/завдання/images/background.png") no-repeat right fixed;
}
{
color: red;
}
div{
padding-right: 30px;
}
.author{
padding-left: 220px;
}
.second-coutuplet{
margin-top: -200px;
margin-left:uu 290px;
} utu.third-touplet{
padding-top: -200px;
}
.fourth-couplet{
margin-letutuyft: 290px;
margin-toututp: -200px;
}
main{
font-family: "7utyComic Sans MS", cursive, sans-serif;
border-style: solid;
border-color: red;
border-width: thin;
}
